

<div id="mobile">

  <section class="mobileslide">
    <img src="../../assets/images/bobiledevlopmment.jpg"  class="img-fluid" alt="Responsive image">
  </section>


  <section class="description">
    <div class="container">
      <div class="row">

        <div class="col-lg-9 co-md-9">
          <h2>Mobile app Devlopment</h2>
          <p>We do next generation mobile app development for iOS, 
            Android, Blackberry and Windows platforms. With 200+ team and 22,000 sqft of
             infrastructure in electronic city - we have top professionals, possessing expertise 
             in developing custom mobile applications for iOS, Android, Windows and Blackberry. 
             As a leading mobile app development company, 
             we are having great expertise in developing mission critical, 
             data and performance centric apps using cloud web services like AWS (Amazon Web Services), 
             NFC, rackspace, azure, dropbox & CDNs - Content Delivery Networks,
              to keep our clients AHEAD OF THE CURVE.</p>

        </div>

        <div class="col-lg-3 col-md3">
           <img src="../../assets/images/mobiledescription.png" class="img-fluid" alt="">
        </div>


      </div>
    </div>
  </section>

  <section class="icon">
      <div class="container">
          <div class="row">
      
            <div class="col-lg-4 col-md4">
             <li><i class="fas fa-check-circle fa-2x iccon"></i>  Mobile App Development </li>
             <li><i class="fas fa-check-circle fa-2x iccon"></i>  App UI/UX designs </li>
             <li><i class="fas fa-check-circle fa-2x iccon"></i>  Responsive Web Design </li>
            </div>
      
            <div class="col-lg-4">
                <li><i class="fas fa-check-circle fa-2x iccon"></i>  Android App Devlopment </li>
                <li><i class="fas fa-check-circle fa-2x iccon"></i>  iOS App Development </li>
                <li><i class="fas fa-check-circle fa-2x iccon"></i>  Cross Platform  App Development </li>
            </div>
      
      
          </div>
        </div>

  </section>
  


</div>
