
<!--<app-slides></app-slides> -->
<section class="home-slide">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <div class="slide-text">
          <h1> Reimagine Digital Experience with <br> <span>Intelligent Solutions</span></h1>
          <p>We help entrepreneurs, start-ups and enterprises <br>
                 shape their ideas into products
          </p>
        </div>
      </div>

      <div class=" clo-xs-12 text-center"></div>
    </div>
  </div>
  
</section>

<section class="solutions">
  <div class="container">
    <div class="text-center product-header"> <h1 class="h1"> We provide custom </h1>
        <h1> software development services</h1> </div>

    <div class="row">

     <div class="col-md-4 col-sm-6 col-xs-12 item">
        <div class="border">
          <div class="img"><img alt="" src="../../assets/images/webdev1.png" /></div>
            <h2 class="title h2 ">Web Application Development</h2>
            <div class="text">Design web applications and any web-oriented projects.
               We are ready for projects with already-prepared designs as well as full-circle projects. 
               We are willing to start working on your web idea.</div>
            <div class="link text-center">
              <a href="#"> <button class="btn btn-outline-primary" >see  more</button> </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 item">
          <div class="border">
            <div class="img"><img alt="" src="../../assets/images/mobdev.png" /></div>
              <h2 class="title h2 ">Mobile Application Development</h2>
              <div class="text">Design web applications and any web-oriented projects.
                 We are ready for projects with already-prepared designs as well as full-circle projects. 
                 We are willing to start working on your web idea.</div>
              <div class="link text-center">
                <a href="#"> <button class="btn btn-primary"> <strong><strong>see  more</strong></strong></button> </a>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 item">
            <div class="border">
              <div class="img"><img alt="" src="../../assets/images/hos.png" /></div>
                <h2 class="title h2 ">Web Application Development</h2>
                <div class="text">Design web applications and any web-oriented projects.
                   We are ready for projects with already-prepared designs as well as full-circle projects. 
                   We are willing to start working on your web idea.
                </div>
                <div class="link text-center">
                  <a href="#"> <button class="btn btn-primary"> <strong>see  more</strong> </button> </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 item">
            <div class="border">
              <div class="img"><img alt="" src="../../assets/images/datana1.png" /></div>
                <h2 class="title h2 ">Web Application Development</h2>
                <div class="text">Design web applications and any web-oriented projects.
                   We are ready for projects with already-prepared designs as well as full-circle projects. 
                   We are willing to start working on your web idea.
                </div>
                <div class="link text-center">
                  <a href="#"> <button class="btn btn-primary"> <strong>see  more</strong></button> </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 item">
            <div class="border">
              <div class="img"><img alt="" src="../../assets/images/clou.png" /></div>
                <h2 class="title h2 ">Web Application Development</h2>
                <div class="text">Design web applications and any web-oriented projects.
                   We are ready for projects with already-prepared designs as well as full-circle projects. 
                   We are willing to start working on your web idea.
                </div>
                <div class="link text-center">
                  <a href="#"> <button class="btn btn-primary"> <strong>see  more</strong></button> </a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12 item">
            <div class="border">
              <div class="img"><img alt="" src="../../assets/images/ecom.png" /></div>
                <h2 class="title h2 ">Web Application Development</h2>
                <div class="text">Design web applications and any web-oriented projects.
                   We are ready for projects with already-prepared designs as well as full-circle projects. 
                   We are willing to start working on your web idea.
                </div>
                <div class="link text-center">
                  <a href="#"> <button class="btn btn-primary"> <strong>see  more</strong></button> </a>
                </div>
            </div>
        </div>
         
    </div>
  </div>
</section>


<section class="method">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <img src="../../assets/images/empowering_brands.png" alt="">
      </div>

      <div class="col-md-8 col-sm-12 col-xs-12">
        <h1 class="h1" title> Agile Methodologies,</h1>
        <h4 class="h4 sub-title">optimization and transparency</h4>
        <p class="text"> We're strong believers in uncomplaining a complex project by working alongside the customer. 
          We imply vigorous methodologies and effective developments that facilitate substantial 
          communication and assure that the client is kept
           in the loop while we strive to achieve required results.
        </p>
        <ul class="list-style"> 
          <li>Strategies that Initialize</li>
          <li>Implement Development Codes</li>
          <li>Deploy & Launch</li> 
        </ul>
        <button class="btn btn-primary start-project">Start Project</button>
      </div>

    </div>
  </div>

</section>


<section id="why-besi">
  <div class="container">
      <h2 class="text-center "> Why Clients Love BESi</h2>
      <div class="row ">

        <div class="col-md-4 col-sm-6 text-center">
            <i class="fas fa-thumbs-up fa-5x "></i>
            <h3>We Keep You Updated</h3>
            <p >We keep clients informed every step of the way. No surprises. Simply peace of mind </p>
            
        </div>

        <div class="col-md-4 col-sm-6 text-center">
  
            <i class="far fa-clock fa-5x"></i>
            <h3>We deliver on time</h3>
            <p >We work hard to make sure all services are rendered on time but without compromising quality. </p>
           
  
        </div>
        <div class="col-md-4 col-sm-6 text-center">
  
            
            <i class="far fa-user fa-5x"></i>
            <h3>We Keep You Updated</h3>
            <p >Our ultimate goal is to satisfy the client, which is why we are committed to deliver tangible results. </p>
  
        </div>
      </div>
  </div>
  </section>
