#dashboard {
    background:#ebebeb;
    font-family: 'Open Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px
   
}


#dashboard h1 {
    color:#373a36;
    padding-bottom: 20px;

}



#dashboard  h3 a {
    color:#373a36;
    padding-bottom: 20px;

}

#dashboard h3 {
    color:#ce4351;
}

#dashboard .box {

    box-shadow: 3px 3px 3px 3px #ccc;
    padding-top: 15px;
}

#dashboard a{
    text-decoration: none;
}

#dashboard i {
   
    font-size: 70px;
    color:#0762fb;
 
    margin-right: auto;
    margin-top: 12px;
   
   
}

#dashboard p span{
    color:#373a36;
}
