/*===================================
    home-slide section
 ====================================*/
 .home-slide {
    margin-top: 40px; 
    color: #012a5e;
    background: url('../../../assets/images/home.jpg') no-repeat;
   
    height: 635px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;

 }
.slide-text{
    font-family: ubuntu;
    color:#fff;
    margin-top: 40%;
    margin-bottom: 50%
}
.slide-text span{
    
    font-size: 50px;

}
.slide-text p{
   
    font-size: 20px;

}



/*===================================
    solutions section
 ====================================*/
 .solutions{
     font-family: ubuntu;
     background:#FFF;
     margin-top: 10px;
     margin-bottom: 20px;
     padding-top: 10px;
     
 } 
 .product-header{
     font-size: 30px;
     font-weight: bolder;
 }
 
 .solutions .item {
    padding-right: 20px;
    padding-left: 10px; 
    margin-top: 12px;
    text-align: center;
    
   
}
.solutions .item .border {
    height: 600px;
    padding-top: 10px;
    
}


.solutions .item .title {
    font-weight: bold;
    font-family: ubuntu;
}
.solutions .item .text {
    color:#141414;
    font-family: ubuntu;
    font-size: 20px;
    padding-left: 3px;
    padding-right: 3px;
}

.solutions .item .link button {
   
   border-radius: 10px;
   margin-top: 20px;
   background: #012a5e;
   color: #FFF;
   font-family: ubuntu;
   font-size: 20px
}
.solutions .item .link {
    margin-bottom: -36px;
    position:relative;
    margin-bottom: 1%;
}
/*===================================
    agile method section
 ====================================*/
.method{
    font-family: ubuntu;
    padding-bottom: 10px;
    padding-top: 15px;
    background: #f7f7f7;
}
.method .sub-title{
    font-size: 38px;

}
.method .text{
    font-size: 20px;

}
.method ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.method ul li{
    font-size: 20px;
}
.method .start-project {
   border-radius: 10px;
   margin-bottom: 10px;
   background: #012a5e;
   color: #FFF;
   font-family: ubuntu;
   font-size: 20px;

}

/*===================================
    wy besi section
 ====================================*/

#why-besi  {
    font-family: ubuntu;
    color: #012a5e;
    color:#fff;
    background: url('../../../assets/images/whybesi.png') no-repeat;
    /*background:#edf1f5;*/
    min-height: 335px;
    background-size: cover;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-top: 35px;
    opacity: 0.90;
  
   

}
#why-besi h2 {
    padding-bottom: 45px;
    color:#141414;
    color:#fff;
    font-weight: bolder;


}


