
<div id="contact">

  <section class="slide-contact">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="100" height="150" frameborder="0" style="border:0;width:100%;height:450px;margin-top:58px;background-colo:#fff;"
src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJIUR_e5VSlg4Rrntu8gnwDeQ&destination=place_id:ChIJIUR_e5VSlg4Rrntu8gnwDeQ&key=AIzaSyB3BwZ6VsLAIijkFWOUIrQ4s9aG0BSPviQ" allowfullscreen></iframe>
     </div>
  </section>


  <section class="contact-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 text-center adrs ">
          <h3>Nos bireaux </h3>
          <h1><strong>BESI</strong></h1> 
          <p> RC.4070 <br>
          Zone Industrielle ksar<br>
          Nouakchott Mauritanie.
         </p>
         <p> <strong>Email: info@besi.com</strong></p>

         <p> <strong>Principale:33635471</strong></p>
         <p> <strong>Technique:32757772</strong> </p>

         <div class="sociale">
           <a href=""><i class="fa fa-facebook-square fb" aria-hidden="true"></i></a>
           <a href=""><i class="fa fa-twitter-square tw" aria-hidden="true"></i></a>
           <a href=""><i class="fa fa-linkedin-square li" aria-hidden="true"></i></a>
           <a href=""><i class="fa fa-google-plus-square gp" aria-hidden="true"></i></a>
         </div>



        </div>



        <div class="col-lg-8 form ">
            <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label for="inputEmail4">Prénom</label>
                    <input type="text" class="form-control" id="inputprenom" placeholder="Prénom">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="inputPassword4">Nom de famille</label>
                    <input type="text" class="form-control" id="inputnomdefamille" placeholder="Nom de famille">
                  </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="inputEmail4">Telephone</label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Telephone">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Email</label>
                      <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                  </div>


                <div class="form-group">
                    <label for="inputAddress2">Message</label>
                    
                    <textarea class="form-control" aria-label="With textarea"></textarea>
                </div>
                
                
                

                <button type="submit" class="btn btn-outline-primary">Envoiyer</button>
              </form>

        </div>



      </div>
    </div>





  </section>

</div>  
