

<div class="cloud">

  <section class="cloud-slide">
   
    <img class="d-block w-100" src="../../../assets/images/cloud-home.jpg" alt="First slide">
  </section>



  <section class="pricing">
      <div class="container">
        <div class="row">
  
          <div class="col-lg-3 col-md-6 col-xs-12">
            <div class="box text-center">
              <div class="price">
                <span>$ <b>4.50 USD</b> </span> / month
              </div>
              <ul class="conf">
                <li> <b> 1 Core </b> CPU</li>
                <li> <b> 1 GB </b> Memory</li>
                <li> <b> 40GB</b> SSD Cloud Disk</li>
                <li> <b> 1 TB </b> Data Transfer</li>
                
              </ul>
              <a href="#"  class="btn btn-primary "> Get Started</a>
            </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="box text-center">
                  <div class="price">
                    <span>$ <b>4.50 USD</b> </span> / month
                  </div>
                  <ul class="conf">
                    <li> <b> 1 Core </b> CPU</li>
                    <li> <b> 1 GB </b> Memory</li>
                    <li> <b> 40GB</b> SSD Cloud Disk</li>
                    <li> <b> 1 TB </b> Data Transfer</li>
                    
                  </ul>
                  <a href="#"  class="btn btn-primary text-center"> Get Started</a>
                </div>
            </div>
  
            <div class="col-lg-3 col-md-6 col-xs-12">
                <div class="box text-center">
                  <div class="price">
                    <span>$ <b>4.50 USD</b> </span> / month
                  </div>
                  <ul class="conf">
                    <li> <b> 1 Core </b> CPU</li>
                    <li> <b> 1 GB </b> Memory</li>
                    <li> <b> 40GB</b> SSD Cloud Disk</li>
                    <li> <b> 1 TB </b> Data Transfer</li>
                    
                  </ul>
                  <a href="#"  class="btn btn-primary text-center"> Get Started</a>
                </div>
                </div>
  
                <div class="col-lg-3 col-md-6 col-xs-12">
                    <div class="box text-center">
                      <div class="price">
                        <span>$ <b>4.50 USD</b> </span> / month
                      </div>
                      <ul class="conf text-center">
                        <li> <b> 1 Core </b> CPU</li>
                        <li> <b> 1 GB </b> Memory</li>
                        <li> <b> 40GB</b> SSD Cloud Disk</li>
                        <li> <b> 1 TB </b> Data Transfer</li>
                        
                      </ul>
                      <a href="#"  class="btn btn-primary text-center"> Get Started</a>
                    </div>
                    </div>
  
          </div>
        </div>
    </section>
  
  <!--

  <section class="introcloud">

    <div class="container">
      <div class="row">

        <div class="col-md-4 col-sm-6 col-xs-12 item">
          <div class="border">
            <div class="img"><img alt="" src="../../assets/images/cloud-private1.png" /></div>
            <h2 class="title h2 ">Cloud privé hébergé</h2>
            <div class="text">
              <p>The scalability and flexibility of the cloud on a 100% dedicated hardware infrastructure.</p>
            </div>
          </div>
        </div>



        <div class="col-md-4 col-sm-6 col-xs-12 item">
            <div class="border">
              <div class="img"><img alt="" src="../../assets/images/cloud-private.png" /></div>
              <h2 class="title h2 ">Public Cloud Services</h2>
              <div class="text">
                <p>  The scalability and flexibility of the cloud on a 100% dedicated hardware infrastructure.</p>
              </div>
            </div>
        </div>



        <div class="col-md-4 col-sm-6 col-xs-12 item">
            <div class="border">
              <div class="img"><img alt="" src="../../assets/images/cloud-private2.png" /></div>
              <h2 class="title h2 "> Serveurs dédiés</h2>
              <div class="text">
                 <p>The scalability and flexibility of the cloud on a 100% dedicated hardware infrastructure.</p>
              </div>
            </div>
        </div>
    
    </div>
    </div>    

  </section> -->



  <section class="desription">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <H1>Besi cloud </H1>
          <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus 
            
            exercitationem vel a autem animi asperiores reprehenderit aliquam? Voluptatum molestiae numquam,
             iure doloremque placeat porro quod quas repellendus ipsam similique, et, amet id reiciendis vel? Molestiae 
             tempora numquam quia placeat impedit eum voluptatibus eveniet temporibus, reprehenderit commodi eos unde saepe. 
             Quaerat est in ea, perspiciatis nisi ullam saepe illo illum veritatis architecto vitae sit nesciunt quis molestias
              facere reprehenderit quia numquam? Harum commodi suscipit culpa beatae doloremque minus, illum, cumque est ipsum at
               consequatur corrupti. Consequuntur quod hic inventore laborum sunt deleniti a suscipit mollitia sint, rerum, officiis
                distinctio fuga repellat.
          </p>
          <ul>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis autem, qui neque et aut eligendi?</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis autem, qui neque et aut eligendi?</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis autem, qui neque et aut eligendi?</li>
          </ul>

        </div>
      </div>
    </div>
  </section>



  

  


</div>
