


<section class="up-footer">

    <div class="container">
        <div class="row">
    
          <div class=" col-md-4 col-sm-6  ">
            <h3 class="swing h3">QUI Nous Sommes</h3>
            <p> BESI is an international software development company established in 20018. 
                We provide comprehensive services including development of mobile applications, 
                web-oriented applications, business software solutions, as well as software 
                integration and updating, support, and maintenance of software applications.</p>
          
          </div>
    
          <div class="col-md-4 col-sm-4 nos-solutions">
            <h4 class="h4">Nos solutions</h4>
               <a href=""> Hébergement</a> <br>
               <a href=""> Développement de logiciels</a> <br>
               <a href=""> Cloud</a> <br>
               <a href=""> Application mobile</a> <br>
               <a href=""> Stratégie digitale</a> <br>
               <a href="">infrastructure informatique</a> <br>
               <a href="">Analyse des données</a> <br>
               <a href="">Stratégie digitale</a> <br>
               <a href="">Expérience utilisateur</a> 
          </div>
    
    
          <div class="col-md-4 col-sm-6 contact ">
              <h4 class="h4 ">Contactez nous</h4>
                <div class="contact-icon" > <i class="fas fa-phone "> </i>  <p> 33635471</p>  </div>
                <div class="contact-icon" ><i class=" far fa-envelope "></i> <p> info@besi.com</p></div>
                <div class="contact-icon"><i class="fas fa-map-marker-alt "></i> <p>594 Zone Indu <br>  Ksar,nouakchott </p></div>
          </div>
    
    
        </div>
      </div>
</section>

  



<section class="bottom-foter">
    <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-6">
              <p id="footer-info"> &#9400; BESI 2018. All rights reserved.
                </p>
      
          </div>
           <div class="col-md-6 col-sm-6 sociale">
              <a href="#" class="icons"> <i class="fab fa-facebook fa-2x"></i></a>
              <a href="#" class="icons"> <i class="fab fa-github fa-2x"></i> </a>
              <a href="#" class="icons"> <i class="fab fa-twitter fa-2x"></i> </a>
           </div>
        </div>
      </div>
</section>



