



<div id="mainfooter">
  <div class="container">
    <div class="row">

      <div class="col-sm-4">
        <h1>BESI</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti enim corrupti cupiditate quo ipsam deserunt, vero itaque, ipsum sunt laboriosam aspernatur odio provident est! Fugiat totam nesciunt natus sint facere?</p>
      
        <ul>
            <li> <a href="" class="facebook"> <i class="fa fa-facebook-square" aria-hidden="true"></i> </a> </li>
            <li> <a href=""> <i class="fa fa-linkedin-square" aria-hidden="true"></i> </a> </li>
            <li> <a href=""> <i class="fa fa-twitter-square" aria-hidden="true"></i></a> </li>
            <li> <a href=""> <i class="fa fa-google-plus-square" aria-hidden="true"></i> </a>  </li>
            
            
            
            
        </ul> 



      </div>

      <div class="col-sm-4">
        <h3>Nos solutions</h3>
        <ul>
          <li> <a href=""> Hébergement</a> </li>
          <li> <a href=""> Développement de logiciels</a> </li>
          <li> <a href=""> Cloud</a> </li>
          <li> <a href=""> Application mobile</a> </li>
          <li> <a href=""> Stratégie digitale</a> </li>
          <li> <a href="">infrastructure informatique</a> </li>
          <li> <a href="">Analyse des données</a> </li>
          <li> <a href="">Stratégie digitale</a> </li>
          <li> <a href="">Expérience utilisateur</a> </li>
          
          
        </ul>
      </div>


      <div class="col-sm-4">
          <h3>Pages populaires</h3>
          <ul>
            <li> <a href="">Contactez nous</a> </li>
            <li> <a href=""> QUI Nous Sommes</a> </li>
            
            
            
            
          </ul>

          <div>

              <div class="container">
                  <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="600" height="450" frameborder="0" style="border:0"
       src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJIUR_e5VSlg4Rrntu8gnwDeQ&destination=place_id:ChIJIUR_e5VSlg4Rrntu8gnwDeQ&key=AIzaSyB3BwZ6VsLAIijkFWOUIrQ4s9aG0BSPviQ" allowfullscreen></iframe>
                 </div>
               </div>

          </div>
        </div>


    </div>
  </div>
</div>



<div id="footer-bottom">
  <div class="container clearfix text-center">
    <div id="footer-info">
      <p id="footer-info">BESI 2018. All rights reserved | 
        <a href="/privacy-policy/" target="_blank">Politique de confidentialité </a> | 
        <a href="#" target="_blank">Termes &amp; Conditions</a> | 
        <a href="#">Sitemap</a>
      </p>
    </div>
  </div>					
</div>	
  

