#mainfooter {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    padding-bottom: 10px;
    padding-top: 10px;
}


#mainfooter h1 ,p ,h3,li,a{
    color:#000;
}


#mainfooter li  {
    list-style: none;
}

#mainfooter  li a {
    list-style: none;
    text-decoration: none;
   
}







#mainfooter  li {
    float:left;
    padding-left: 4px;
    margin-right: auto;
    margin-left:2px;
}





#footer-bottom {
    background-color: #ebebeb;
    font-family: 'Open Sans', sans-serif;

    padding-bottom: 10px;
    padding-top: 10px;
}

#footer-info {
    color:#323232;
}