
/*
nav{
    background-color:#fff;
    color:#FFF;;
    height: 60px;
    padding: auto;
    font-family: ubuntu;
    box-shadow: 3px 3px 3px 3px #fff
}
.navbar-brand {
    color:#012a5e;
    font-weight: bold;
    font-size: 40px;
}
.dropdown button {
    font-size: 30 px;
    background:#ffff;
    color:#012a5e;
    margin-bottom:  -2px

}
.dropdown-menu  {
    margin-top: -3px;
    margin-right: -1px;
    background:#012a5e;
    color:#012a5e;
}
.dropdown-menu a {
    background:#012a5e;
    color:#FFF;
}

.dropdown .btn,
.dropdown-menu,
.dropdown-item,
.nav-item a {
    margin-right: 30px;
  
}
.dropdown .btn:hover,
.dropdown-menu:hover,
.dropdown-item:hover,


.nav-item a:hover {
    color:#c1c9d3;
    background:#012a5e;
    
   
}

*/

nav{
    background-color:#012a5e;;
    padding: auto;
    font-family: ubuntu;
    
}
.navbar-brand {
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
}
.nav-item {
    color:#fff;
    font-size: 18px;
    margin-top: -3px;
    margin-right: -1px;
    background:#012a5e;
    margin-right: 30px;
}

.nav-item .nav-link {
    color:#fff;
    
}

.dropdown-menu {
    background:#012a5e;
    color:#FFF;
}
.dropdown-menu a {
    background:#012a5e;
    color:#FFF;
}




.dropdown .btn:hover,
.dropdown-menu:hover,
.dropdown-item:hover,


.nav-item :hover {
    color:#c1c9d3;
    background:#012a5e;
    
   
}