

  

      


<div class="atigh">

    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top ">
        <div class="container ">
          <a class="navbar-brand" href="#">Besi</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
      
          <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
              
            </ul>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a  class="nav-link" href="#" routerLink="/cloud" >Cloud</a>
              </li>
              <li class="nav-item">
                <a  class="nav-link" href="#" routerLink="/mobileapp" >Mobile App</a>
              </li>

              <li class="nav-item"> <a  class="nav-link" href=""> Hébergement</a> </li>

              <li class="nav-item"> <a  class="nav-link" href=""> QUI Nous Sommes </a> </li>
              
         


              <li class="nav-item">
                  <a  class="nav-link" href="" >About</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href="#"  routerLink="/contact">Contact</a>
                  </li>
      
            </ul>
          </div>
        </div>
      </nav>

</div>        


  