

nav{
    background-color:#012a5e;
   
    color:#fff;
    height: 70px;
    padding: auto;
    font-family: ubuntu;
}

.dropdown .btn,
.dropdown-menu,
.dropdown-item,
.nav-item a {
    margin-right: 30px;
  
}
.dropdown .btn:hover,
.dropdown-menu:hover,
.dropdown-item:hover,
.navbar-brand:hover,

.nav-item a:hover {
    color:#c1c9d3;
    
   
}

.navbar-brand {
    color:#fff;
    font-weight: bold;
    font-size: 40px;
}